XSD/productos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="tienda">
    <xs:complexType>
    <xs:sequence>
      <xs:element name="producto" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
        <xs:sequence>
          <xs:element name="nombre" type="xs:string"/>
          <xs:element name="precio" type="xs:float"/>
          <xs:element name="cantidad" type="xs:integer"/>
        </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>